.hero{
    height: 60vh;
    background: red;
    display: flex;
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 50px;
    position: relative;
    padding: 20px;
}
.hero-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left: 140px;
    line-height: 1.1;
}
.hero-left h2{
    
    color: white;
    font-size: 26px;
    font-weight: 600;
}
.hero-left p{
    color: black;
    font-size: 70px;
    font-weight: 600;
    font-style: italic;
}
.hero-hand-icon{
    display: flex;
    align-items: center;
    gap: 20px;
    color: black;
}
.hero-hand-icon img{
    width: 105px;
}
.hero-latest-btn{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:15px;
    width: 310px;
    height: 70px;
    border-radius: 15px;
    margin-top: 30px;
    background: black;
    color: white;
    font-size: 22px;
    font-weight: 500;
}
.hero-latest-btn:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.6s;
}
.hero-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-right img{
    position: absolute;
    margin-bottom: 118px;
    height: 80vh;
    width: 450px;
}
.hero-hand-icon span{
    font-size: 50px;
    margin-left: -20px;
}
.typing-text {
    display: inline-block;
    animation: typingSteps 2s steps(20, end) forwards;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid crimson;
  }
  
  @keyframes typingSteps {
    from { width: 0; }
    to { width: 100%; }
  }
  